"# This file is used to set environment variables for the Partner Mobile application."
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=

"URI for Fetching API on the same network. Change the IP address(IPV4) to match your local machine's IP address."
LOCAL_IP_ADDRESS=192.168.121.125:8000
EXPO_PUBLIC_API_BASE_URL=http://{LOCAL_IP_ADDRESS}/api/v1