"# This file is used to set environment variables for the API service."

"Local level Database URL for development and testing purposes."
username=
password=
DATABASE_URL=postgresql://{username}:{password}@localhost:5432/negansurance